@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: Montserrat;
        font-style: normal;
        src: url("fonts/Montserrat-Regular.ttf") format("truetype");
    }
}
